<?xml version="1.0" encoding="UTF-8"?>
<templates id="template" xml:space="preserve">

    <t t-name="AppsMenu" t-extend="AppsMenu" >
         <t t-jquery="i.fa-th-large" t-operation="replace">
            <i class="fa fa-2x fa-moval-logo-xmas-duotone" style="padding-top: 14%;"/>
         </t>
    </t>

</templates>
