<?xml version="1.0" encoding="UTF-8"?>
<templates id="template" xml:space="preserve">

    <t t-name="AppsMenu" t-extend="AppsMenu" >
         <t t-jquery="i.fa" t-operation="replace">
            <i class="fa fa-moval-logo" style="font-size:180%;padding-top:26%;padding-bottom:14%; margin-left:-16%;"/>
         </t>
    </t>

</templates>
