@font-face {
  font-family: 'lettermgmt_iconset';
  src: url('../font/lettermgmt_iconset.eot?53458704');
  src: url('../font/lettermgmt_iconset.eot?53458704#iefix') format('embedded-opentype'),
       url('../font/lettermgmt_iconset.woff2?53458704') format('woff2'),
       url('../font/lettermgmt_iconset.woff?53458704') format('woff'),
       url('../font/lettermgmt_iconset.ttf?53458704') format('truetype'),
       url('../font/lettermgmt_iconset.svg?53458704#lettermgmt_iconset') format('svg');
  font-weight: normal;
  font-style: normal;
}

 
 [class^="fa-lettermgmt-"]:before, [class*=" fa-lettermgmt-"]:before {
   display:inline-block;
   font:normal normal normal 14px/1 lettermgmt_iconset;
   font-size:inherit;
   text-rendering:auto;
   -webkit-font-smoothing:antialiased;
   -moz-osx-font-smoothing:grayscale;

}
 
.fa-lettermgmt-letter_movs:before { content: '\e800'; } /* '' */
