@font-face {
  font-family: 'filemgmt_iconset';
  src: url('../font/filemgmt_iconset.eot?56436970');
  src: url('../font/filemgmt_iconset.eot?56436970#iefix') format('embedded-opentype'),
       url('../font/filemgmt_iconset.woff2?56436970') format('woff2'),
       url('../font/filemgmt_iconset.woff?56436970') format('woff'),
       url('../font/filemgmt_iconset.ttf?56436970') format('truetype'),
       url('../font/filemgmt_iconset.svg?56436970#filemgmt_iconset') format('svg');
  font-weight: normal;
  font-style: normal;
}
 
 [class^="fa-filemgmt-"]:before, [class*=" fa-filemgmt-"]:before {
   display:inline-block;
   font:normal normal normal 14px/1 filemgmt_iconset;
   font-size:inherit;
   text-rendering:auto;
   -webkit-font-smoothing:antialiased;
   -moz-osx-font-smoothing:grayscale;
}
 
.fa-filemgmt-files:before { content: '\e800'; } /* '' */
