.table-efiles {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.table-efiles-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

.table-efiles-header {
    font-weight: bold;
    background-color: #f7f7f7;
}

.table-efiles-cell {
    flex: 1;
    padding: 5px;
    text-align: left;
}

.table-efiles-cell:last-child {
    text-align: center;
}


.table-communications {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.table-communications-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

.table-communications-header {
    font-weight: bold;
    background-color: #f7f7f7;
}

.table-communications-cell {
    flex: 1;
    padding: 5px;
    text-align: left;
}

.table-communications-cell:last-child {
    text-align: center;
}
