.o_report_layout_background {
    
    .report_main_title {
        margin-top: 0px;
        padding-top: 0px;
        margin-bottom: 32px;
    }

    .report_section_title {
        border-bottom: 2px solid;
        padding: 2px 4px;
    }
    
}
