.report_main_title {
    color: darken(theme-color('primary'), 5%);
    margin-top: 0px;
    margin-bottom: 32px;
}

.report_section_title {
    color: theme-color('primary');
    border-bottom: 1px solid;
    padding: 1px 4px;
}
