//------------------------------------------------------------------------------
// Website Blog Sharing Links
//------------------------------------------------------------------------------
.website_blog {

    .o_sharing_links {
        // To be applied to the main container when 'card design' option is
        // enabled. Provide a slight darker bg that will blend the background
        // color chosen by the user, visually increasing the contrast in case of
        // brights (or white) backgrounds.
        // It shouldn't be noticeable on dark backgrounds.
        background-color: rgba(black, 0.005);
        > a {
            color: #b3b3b3;
            font: normal normal normal 28px/1 FontAwesome;
            font-family: FontAwesome;
            margin: 0 4px 0 4px;
            cursor: pointer;
            &.o_twitter:hover {
                color: #4099FF;
            }
            &.o_facebook:hover {
                color: #3b5998;
            }
            &.o_linkedin:hover {
                color: #0E76A8;
            }
        }
    }
}
