.album_gallery_container {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    justify-content: flex-start;
    margin: 20px 0;
}

.album_gallery_container .gallery-item {
    flex: 1;
    min-width: calc(33.333% - 8px);
    max-width: calc(33.333% - 8px);
    max-height: 200px;
    overflow: hidden;
    box-sizing: border-box;
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.album_gallery_container img {
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
}

.lg-toolbar {
    display: flex;
    justify-content: flex-end;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1082;
}

.lg-counter {
    position: absolute;
    left: 0;
    top: 0;
}

.lg-download {
    display: none !important;
}

.lg-zoom-in {
    order: 1;
}

.lg-zoom-out {
    order: 2;
}

.lg-share {
    display: none !important;
}

.lg-fullscreen {
    order: 3;
}

.lg-close {
    order: 4;
}

.lg-thumb-outer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 1083;
    opacity: 1;
}

.lg-sub-html {
    position: fixed;
    bottom: 20px;
    width: 100%;
    z-index: 1084;
    background-color: rgba(0, 0, 0, 0.7);
    color: #fff;
    opacity: 0;
  }

.toggle-gallery-checkbox {
    display: none;
}

.rotated {
    transform: rotate(180deg);
    transition: transform 0.3s ease-in-out;
}


.toggle-gallery-label {
    background-image: url('/album_gallery/static/svg/down.svg');
    width: 30px;
    height: 30px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    transition: transform 0.3s ease;
}

.toggle-gallery-label.rotated {
    transform: translateY(-50%) rotate(180deg);
}

.close-all-galleries-btn {
    top: 0;
    left: 20px;
    z-index: 9999;
    background-color: red;
    opacity: 0.7;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    color: white;
}

.close-icon {
    font-size: 20px;
    color: white;
}

.btn-text {
    display: none;
    color: white;
}

.close-all-galleries-btn:hover {
    width: auto;
    padding: 5px 10px;
    border-radius: 20px;
    background-color: red;
    color: white;
}

.close-all-galleries-btn:hover .btn-text {
    display: inline-block;
    margin-left: 5px;
}

.clickable-area {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

@media (max-width: 768px) {
    .album_gallery_container .gallery-item {
        min-width: calc(50% - 8px);
        max-width: calc(50% - 8px);
    }
}

@media (max-width: 500px) {
    .album_gallery_container .gallery-item {
        min-width: 100%;
        max-width: 100%;
    }
}


