.o_province [data-name="cadastral_code"] {
    width: 140px;
    text-align: center;
}

.o_province_cadastral_code {
    text-align: center;
}

.o_municipality [data-name="cadastral_code"] {
    width: 140px;
    text-align: center;
}

.o_municipality [data-name="province_id"] {
    width: 180px;
}

.o_municipality_cadastral_code {
    text-align: center;
}

.o_place [data-name="province_id"] {
    width: 180px;
}

.o_place [data-name="municipality_id"] {
    width: 240px;
}