/* res_file */
.o_res_file [data-name="image"] {
    width: 6%;
    text-align: center;
}
.o_res_file_image {
    text-align: center;
}

.o_res_file [data-name="alphanum_code"] {
    width: 10%;
    text-align: center;
}
.o_res_file_alphanum_code {
    text-align: center;
}

.o_res_file [data-name="partner_id"] {
    width: 18%;
}

.o_res_file [data-name="date_file"] {
    width: 10%;
    text-align: center;
}
.o_res_file_date_file {
    text-align: center;
}

.o_res_file [data-name="is_blocked"] {
    width: 10%;
    text-align: center;
}
.o_res_file_is_blocked {
    text-align: center;
}

.o_res_file [data-name="is_cancelled"] {
    width: 10%;
    text-align: center;
}
.o_res_file_is_cancelled {
    text-align: center;
}

.o_res_file [data-name="category_id"] {
    text-align: center;
}
.o_res_file_category_id {
    text-align: center;
}

.o_res_file [data-name="state"] {
    width: 10%;
    text-align: center;
}
.o_res_file_state {
    text-align: center;
}

/* res_file_category */
.res_file_category [data-name="number_of_files"] {
    width: 10%;
    text-align: center;
}
.res_file_category_res_file_category_number_of_files {
    text-align: center;
}

/* res_file_partnerlink */
.o_res_file_partnerlink [data-name="partner_id"] {
    width: 80%;
}

.o_res_file_partnerlink [data-name="is_main"] {
    width: 20%;
    text-align: center;
}
.o_res_file_partnerlink_is_main {
    text-align: center;
}


/* res_file_partnerlink_of_partner */
.o_res_file_partnerlink_of_partner [data-name="date_file"] {
    width: 10%;
    text-align: center;
}
.o_res_file_partnerlink_of_partner_date_file {
    text-align: center;
}

.o_res_file_partnerlink_of_partner [data-name="file_id"] {
    width: 70%;
}

.o_res_file_partnerlink_of_partner [data-name="state"] {
    width: 10%;
    text-align: center;
}
.o_res_file_partnerlink_of_partner_state {
    text-align: center;
}

.o_res_file_partnerlink_of_partner [data-name="is_main"] {
    width: 10%;
    text-align: center;
}
.o_res_file_partnerlink_of_partner_is_main {
    text-align: center;
}

/* res_file_filelink
.o_res_file_filelink [data-name="related_file_id"] {
    width: 80%;
} */

/* res_file_location */
.o_res_file_location [data-name="image"] {
    width: 6%;
    text-align: center;
}
.o_res_file_location_image {
    text-align: center;
}
.o_res_file_location [data-name="num_code"] {
    width: 8%;
    text-align: center;
}
.o_res_file_location_num_code {
    text-align: center;
}


/* res_file_container */
.o_res_file_container [data-name="image"] {
    width: 6%;
    text-align: center;
}
.o_res_file_container_image {
    text-align: center;
}

.o_res_file_container [data-name="num_code"] {
    width: 8%;
    text-align: center;
}
.o_res_file_container_num_code {
    text-align: center;
}
