@font-face {
  font-family: 'wausms_iconset';
  src: url('../font/wausms_iconset.eot?86641952');
  src: url('../font/wausms_iconset.eot?86641952#iefix') format('embedded-opentype'),
       url('../font/wausms_iconset.woff2?86641952') format('woff2'),
       url('../font/wausms_iconset.woff?86641952') format('woff'),
       url('../font/wausms_iconset.ttf?86641952') format('truetype'),
       url('../font/wausms_iconset.svg?86641952#wausms_iconset') format('svg');
  font-weight: normal;
  font-style: normal;
}

 [class^="fa-wausms-"]:before, [class*=" fa-wausms-"]:before {
   display: inline-block;
   font:normal normal normal 14px/1 wausms_iconset;
   font-size:inherit;
   text-rendering:auto;
   -webkit-font-smoothing:antialiased;
   -moz-osx-font-smoothing:grayscale;
}

.fa-wausms-sms-write:before { content: '\e800'; } /* '' */
.fa-wausms-sms-registre:before { content: '\e801'; } /* '' */
