.o_tray_icon_li {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    margin-right: 5px;
}

.gray_circle, .green_circle, .red_circle {
    border: 0.5px solid white;
}

.gray_circle {
    background-color: gray;
}

.green_circle {
    background-color: green;
}

.red_circle {
    background-color: red;
}

/* Ajuste para el texto */
.o_AttendanceMenu_hours_display {
    margin-left: 3px;
    font-size: 14px;
    color: white;
    line-height: 24px; /* Ajustar esto si es necesario */
    font-family: inherit;
}
