.o_task_icon_li, .o_tray_icon_li {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    margin-right: 5px;
    color: white;
}

.gray_circle, .green_circle, .red_circle {
    border: 0.5px solid white;
    border-radius: 50%;
    display: inline-block;
}

.gray_circle {
    background-color: gray;
}

.green_circle {
    background-color: green;
}

.red_circle {
    background-color: red;
}

.o_AttendanceMenu_hours_display, .o_TaskMenu_task_display {
    margin-left: 3px;
    font-size: 14px;
    color: white;
    line-height: 24px;
    font-family: inherit;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

@media screen and (max-width: 1400px) {
    .o_TaskMenu_task_display, .o_AttendanceMenu_hours_display {
        max-width: 2vw;
        display: block;
    }
}
