@font-face {
  font-family: 'board_grafana_integration_iconset';
  src: url('../font/board_grafana_integration_iconset.eot?60166265');
  src: url('../font/board_grafana_integration_iconset.eot?60166265#iefix') format('embedded-opentype'),
       url('../font/board_grafana_integration_iconset.woff2?60166265') format('woff2'),
       url('../font/board_grafana_integration_iconset.woff?60166265') format('woff'),
       url('../font/board_grafana_integration_iconset.ttf?60166265') format('truetype'),
       url('../font/board_grafana_integration_iconset.svg?60166265#board_grafana_integration_iconset') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="fa-board-grafana-integration-"]:before, [class*=" fa-board-grafana-integration-"]:before {
   display: inline-block;
   font:normal normal normal 14px/1 board_grafana_integration_iconset;
   font-size:inherit;
   text-rendering:auto;
   -webkit-font-smoothing:antialiased;
   -moz-osx-font-smoothing:grayscale;
}


.fa-board-grafana-integration-logo:before { content: '\e800'; } /* '' */
