/**/
/* cim.complaint.type */
/**/
.o_cim_complaints_channel_complaint_type_view_tree [data-id="name"] {
    min-width: 450px;
}
.o_cim_complaints_channel_complaint_type_view_tree [data-id="is_standard"] {
    min-width: 80px;
    text-align: center;
}
.o_cim_complaints_channel_complaint_type_view_tree [data-field="is_standard"] {
    text-align: center;
}
.o_cim_complaints_channel_complaint_type_view_tree [data-id="number_of_complaints"] {
    min-width: 80px;
    text-align: center;
}
.o_cim_complaints_channel_complaint_type_view_tree [data-field="number_of_complaints"] {
    text-align: center;
}
.o_cim_complaints_channel_complaint_type_view_tree [data-id="notes_text"] {
    width: 100%;
}

/**/
/* cim.link.type */
/**/
.o_cim_complaints_channel_link_type_view_tree [data-id="name"] {
    min-width: 450px;
}
.o_cim_complaints_channel_link_type_view_tree [data-id="is_standard"] {
    min-width: 80px;
    text-align: center;
}
.o_cim_complaints_channel_link_type_view_tree [data-field="is_standard"] {
    text-align: center;
}
.o_cim_complaints_channel_link_type_view_tree [data-id="number_of_complaints"] {
    min-width: 80px;
    text-align: center;
}
.o_cim_complaints_channel_link_type_view_tree [data-field="number_of_complaints"] {
    text-align: center;
}
.o_cim_complaints_channel_link_type_view_tree [data-id="notes_text"] {
    width: 100%;
}

/**/
/* o_cim_complaints_channel_complaint_view_tree */
/**/
.o_cim_complaints_channel_complaint_view_tree [data-id="name"] {
    min-width: 70px;
    text-align: center;
}
.o_cim_complaints_channel_complaint_view_tree [data-field="name"] {
    text-align: center;
}
.o_cim_complaints_channel_complaint_view_tree [data-id="complaint_type_id"] {
    min-width: 160px;
}
.o_cim_complaints_channel_complaint_view_tree [data-id="resolution_date"] {
    min-width: 70px;
    text-align: center;
}
.o_cim_complaints_channel_complaint_view_tree [data-field="resolution_date"] {
    text-align: center;
}
.o_cim_complaints_channel_complaint_view_tree [data-field="defendant_name"] {
    min-width: 140px;
}
.o_cim_complaints_channel_complaint_view_tree [data-id="deadline_date"] {
    min-width: 70px;
    text-align: center;
}
.o_cim_complaints_channel_complaint_view_tree [data-field="deadline_date"] {
    text-align: center;
}
.o_cim_complaints_channel_complaint_view_tree [data-field="investigating_user_id"] {
    min-width: 140px;
}
.o_cim_complaints_channel_complaint_view_tree [data-id="number_of_attachments"] {
    min-width: 70px;
    text-align: center;
}
.o_cim_complaints_channel_complaint_view_tree [data-field="number_of_attachments"] {
    text-align: center;
}
.o_cim_complaints_channel_complaint_view_tree [data-id="number_of_communications"] {
    min-width: 70px;
    text-align: center;
}
.o_cim_complaints_channel_complaint_view_tree [data-field="number_of_communications"] {
    text-align: center;
}
.o_cim_complaints_channel_complaint_view_tree [data-id="state"] {
    min-width: 70px;
    text-align: center;
}
.o_cim_complaints_channel_complaint_view_tree [data-field="state"] {
    text-align: center;
}
.o_cim_complaints_channel_complaint_view_tree [data-id="icon_warning"] {
    min-width: 40px;
    width: 40px;
    text-align: center;
}
.o_cim_complaints_channel_complaint_view_tree [data-field="icon_warning"] {
    text-align: center;
}

/**/
/* o_cim_complaints_channel_complaint_communication_view_tree */
/**/
.o_cim_complaints_channel_complaint_communication_view_tree [data-id="icon_inputoutput"] {
    min-width: 40px;
    width: 40px;
    text-align: center;
}
.o_cim_complaints_channel_complaint_communication_view_tree [data-field="icon_inputoutput"] {
    text-align: center;
}
.o_cim_complaints_channel_complaint_communication_view_tree [data-id="communication_number"] {
    min-width: 60px;
    width: 60px;
    text-align: center;
}
.o_cim_complaints_channel_complaint_communication_view_tree [data-field="communication_number"] {
    text-align: center;
}
.o_cim_complaints_channel_complaint_communication_view_tree [data-id="communication_date"] {
    min-width: 70px;
    width: 80px;
    text-align: center;
}
.o_cim_complaints_channel_complaint_communication_view_tree [data-field="communication_date"] {
    text-align: center;
}
.o_cim_complaints_channel_complaint_communication_view_tree [data-field="processor_user_id"] {
    min-width: 140px;
}
.o_cim_complaints_channel_complaint_communication_view_tree [data-id="number_of_attachments"] {
    min-width: 70px;
    width: 80px;
    text-align: center;
}
.o_cim_complaints_channel_complaint_communication_view_tree [data-field="number_of_attachments"] {
    text-align: center;
}
.o_cim_complaints_channel_complaint_communication_view_tree [data-id="state"] {
    min-width: 70px;
    width: 80px;
    text-align: center;
}
.o_cim_complaints_channel_complaint_communication_view_tree [data-field="state"] {
    text-align: center;
}

/**/
/* Custom classes */
/**/

.blink_text {
    animation:1s blinker linear infinite;
    -webkit-animation:1s blinker linear infinite;
    -moz-animation:1s blinker linear infinite;
    animation-iteration-count: 10;
    color: red;
}

@-moz-keyframes blinker {
    0% { opacity: 1.0; }
    50% { opacity: 0.0; }
    100% { opacity: 1.0; }
}

@-webkit-keyframes blinker {
    0% { opacity: 1.0; }
    50% { opacity: 0.0; }
    100% { opacity: 1.0; }
}

@keyframes blinker {
    0% { opacity: 1.0; }
    50% { opacity: 0.0; }
    100% { opacity: 1.0; }
}