/**/
/* eom.digitalregister */
/**/
.o_eom_authdnie_digitalregister_view_tree [data-id="name"] {
    min-width: 115px;
    text-align: center;
}
.o_eom_authdnie_digitalregister_view_tree [data-field="name"] {
    text-align: center;
}
.o_eom_authdnie_digitalregister_view_tree [data-id="lastname"] {
    min-width: 250px;
}
.o_eom_authdnie_digitalregister_view_tree [data-id="firstname"] {
    width: 100%;
}
.o_eom_authdnie_digitalregister_view_tree [data-id="last_event_time"] {
    min-width: 150px;
    text-align: center;
}
.o_eom_authdnie_digitalregister_view_tree [data-field="last_event_time"] {
    text-align: center;
}
.o_eom_authdnie_digitalregister_view_tree [data-id="number_of_accesses"] {
    min-width: 80px;
    text-align: center;
}
.o_eom_authdnie_digitalregister_view_tree [data-field="number_of_accesses"] {
    text-align: center;
}
.o_eom_authdnie_digitalregister_view_tree [data-id="number_of_requests"] {
    min-width: 80px;
    text-align: center;
}
.o_eom_authdnie_digitalregister_view_tree [data-field="number_of_requests"] {
    text-align: center;
}
.o_eom_authdnie_digitalregister_view_tree [data-id="icon_with_contact"] {
    min-width: 40px;
    text-align: center;
}
.o_eom_authdnie_digitalregister_view_tree [data-field="icon_with_contact"] {
    text-align: center;
}

/**/
/* eom.digitalregister.access */
/**/
.o_eom_authdnie_digitalregister_access_view_tree [data-id="event_time"] {
    min-width: 150px;
    text-align: center;
}
.o_eom_authdnie_digitalregister_access_view_tree [data-field="event_time"] {
    text-align: center;
}
.o_eom_authdnie_digitalregister_access_view_tree [data-id="digitalregister_id"] {
    min-width: 115px;
    text-align: center;

}
.o_eom_authdnie_digitalregister_access_view_tree [data-field="digitalregister_id"] {
    text-align: center;
}
.o_eom_authdnie_digitalregister_access_view_tree [data-id="lastname"] {
    min-width: 250px;
}
.o_eom_authdnie_digitalregister_access_view_tree [data-id="firstname"] {
    width: 100%;
}
.o_eom_authdnie_digitalregister_access_view_tree [data-id="icon_with_userdata"] {
    min-width: 40px;
    text-align: center;
}
.o_eom_authdnie_digitalregister_access_view_tree [data-field="icon_with_userdata"] {
    text-align: center;
}
.o_eom_authdnie_digitalregister_access_view_tree [data-id="icon_with_contact"] {
    min-width: 40px;
    text-align: center;
}
.o_eom_authdnie_digitalregister_access_view_tree [data-field="icon_with_contact"] {
    text-align: center;
}