<?xml version="1.0" encoding="utf-8" ?>
<odoo>
    <menuitem
        name="Ecoembes"
        id="menu_product_main"
        parent="base.menu_custom"
        sequence="80"
    />
    <menuitem
        id="menu_product_material"
        name="Materials"
        parent="menu_product_main"
        sequence="10"
        action="action_product_material"
    />
    <menuitem
        id="menu_product_submaterial"
        name="Submaterials"
        parent="menu_product_main"
        sequence="20"
        action="action_product_submaterial"
    />
    <menuitem
        id="menu_product_submaterial_type"
        name="Submaterial Types"
        parent="menu_product_main"
        sequence="30"
        action="action_submaterial_type"
    />
</odoo>
