@font-face {
  font-family: 'filemgmt_iconset';
  src: url('../font/filemgmt_iconset.eot?39396464');
  src: url('../font/filemgmt_iconset.eot?39396464#iefix') format('embedded-opentype'),
       url('../font/filemgmt_iconset.woff2?39396464') format('woff2'),
       url('../font/filemgmt_iconset.woff?39396464') format('woff'),
       url('../font/filemgmt_iconset.ttf?39396464') format('truetype'),
       url('../font/filemgmt_iconset.svg?39396464#filemgmt_iconset') format('svg');
  font-weight: normal;
  font-style: normal;
}
 
 [class^="fa-filemgmt-"]:before, [class*=" fa-filemgmt-"]:before {
   display:inline-block;
   font:normal normal normal 14px/1 filemgmt_iconset;
   font-size:inherit;
   text-rendering:auto;
   -webkit-font-smoothing:antialiased;
   -moz-osx-font-smoothing:grayscale;

}
 
.fa-filemgmt-files:before { content: '\e800'; } /* '' */
